---
prometheus:
  prometheusSpec:
    serviceMonitorNamespaceSelector:
      matchLabels:
        o11y.eu/monitor: "enabled"
    remoteWrite:
      - url: http://ayekan-mimir-gateway.mimir.svc:80/api/v1/push
  ingress:
    enabled: true
    annotations:
      cert-manager.io/cluster-issuer: letsencrypt
      kubernetes.io/ingress.class: nginx
      nginx.ingress.kubernetes.io/backend-protocol: HTTP
      nginx.ingress.kubernetes.io/server-snippet: |
        proxy_ssl_verify off;
    paths:
      - /
    pathType: Prefix
    hosts:
      - prometheus.ayekan.ls.lsst.org
    tls:
      - secretName: tls-prometheus-ingress
        hosts:
          - prometheus.ayekan.ls.lsst.org
grafana:
  ingress:
    enabled: true
    annotations:
      cert-manager.io/cluster-issuer: letsencrypt
      kubernetes.io/ingress.class: nginx
      nginx.ingress.kubernetes.io/backend-protocol: HTTP
      nginx.ingress.kubernetes.io/server-snippet: |
        proxy_ssl_verify off;
    paths:
      - /
    pathType: Prefix
    hosts:
      - grafana.ayekan.ls.lsst.org
    tls:
      - secretName: tls-grafana-ingress
        hosts:
          - grafana.ayekan.ls.lsst.org
