---
prometheus:
  prometheusSpec:
    externalUrl: https://prometheus.ayekan.ls.lsst.org
    serviceMonitorNamespaceSelector:
      matchLabels:
        o11y.eu/monitor: "enabled"
    serviceMonitorSelectorNilUsesHelmValues: false
    serviceMonitorSelector: {}
    configMaps:
      - prometheus-snmp-csv-network
    remoteWrite:
      - url: http://ayekan-mimir-gateway.mimir:80/api/v1/push
    additionalScrapeConfigs:
      - job_name: blackbox-ping-dev
        metrics_path: /probe
        params:
          module: [icmp]
        puppetdb_sd_configs:
          - url: "http://puppetdb.dev.lsst.org:8080"
            query: "resources { type = \"Class\" and title = \"Prometheus::Node_exporter\" }"
            refresh_interval: "30s"
            follow_redirects: true
            include_parameters: true
            enable_http2: true
        relabel_configs: &k8s-blackbox-monitoring
          - source_labels: [__meta_puppetdb_certname]
            target_label: __param_target
          - source_labels: [__param_target]
            target_label: instance
          - target_label: __address__
            replacement: "blackbox-exporter-prometheus-blackbox-exporter.monitoring:9115"
      - job_name: blackbox-ping-ls
        metrics_path: /probe
        params:
          module: [icmp]
        puppetdb_sd_configs:
          - url: "http://puppetdb.ls.lsst.org:8080"
            query: "resources { type = \"Class\" and title = \"Prometheus::Node_exporter\" }"
            refresh_interval: "30s"
            follow_redirects: true
            include_parameters: true
            enable_http2: true
        relabel_configs: *k8s-blackbox-monitoring
      - job_name: snmp-csv-network
        metrics_path: /snmp
        params:
          module: [if_mib]
        file_sd_configs:
          - files:
              - "/etc/prometheus/configmaps/prometheus-snmp-csv-network/snmp-csv-network.json"
        relabel_configs:
          - source_labels: [__address__]
            target_label: __param_target
          - source_labels: [__meta_hostname]
            target_label: instance
          - source_labels: [__meta_network_function]
            target_label: network_function
          - target_label: __address__
            replacement: "snmp-exporter-prometheus-snmp-exporter.monitoring:9116"
      - job_name: blackbox-csv-network
        metrics_path: /probe
        params:
          module: [icmp]
        file_sd_configs:
          - files:
              - "/etc/prometheus/configmaps/prometheus-snmp-csv-network/snmp-csv-network.json"
        relabel_configs:
          - source_labels: [__address__]
            target_label: __param_target
          - source_labels: [__meta_hostname]
            target_label: instance
          - source_labels: [__meta_network_function]
            target_label: network_function
          - target_label: __address__
            replacement: "blackbox-exporter-prometheus-blackbox-exporter.monitoring:9115"
      - job_name: snmp-raritan-pdu
        metrics_path: /snmp
        params:
          module: [raritan]
        file_sd_configs:
          - files:
              - "/etc/prometheus/configmaps/pdu-targets/pdu-targets.json"
        relabel_configs:
          - source_labels: [__address__]
            target_label: __param_target
          - source_labels: [__meta_hostname]
            target_label: instance
          - target_label: __address__
            replacement: "snmp-exporter-prometheus-snmp-exporter.monitoring:9116"
  ingress:
    enabled: true
    annotations:
      cert-manager.io/cluster-issuer: letsencrypt
      kubernetes.io/ingress.class: nginx
      nginx.ingress.kubernetes.io/backend-protocol: HTTP
      nginx.ingress.kubernetes.io/server-snippet: |
        proxy_ssl_verify off;
    paths:
      - /
    pathType: Prefix
    hosts:
      - prometheus.ayekan.ls.lsst.org
    tls:
      - secretName: tls-prometheus-ingress
        hosts:
          - prometheus.ayekan.ls.lsst.org

alertmanager:
  alertmanagerSpec:
    alertmanagerConfigSelector:
      matchLabels:
        alertmanagerConfig: ayekan
    externalUrl: https://alertmanager.ayekan.ls.lsst.org
    secrets:
      - o11y-webhooks
  ingress:
    enabled: true
    annotations:
      cert-manager.io/cluster-issuer: letsencrypt
      kubernetes.io/ingress.class: nginx
      nginx.ingress.kubernetes.io/backend-protocol: HTTP
      nginx.ingress.kubernetes.io/server-snippet: |
        proxy_ssl_verify off;
    paths:
      - /
    pathType: Prefix
    hosts:
      - alertmanager.ayekan.ls.lsst.org
    tls:
      - secretName: tls-alertmanager-ingress
        hosts:
          - alertmanager.ayekan.ls.lsst.org
  config:
    global:
      resolve_timeout: 5m
      slack_api_url_file: /etc/alertmanager/secrets/o11y-webhooks/o11y-slack
    templates:
      - "/etc/alertmanager/config/*.tmpl"

grafana:
  persistence:
    enabled: true
  ingress:
    enabled: true
    annotations:
      cert-manager.io/cluster-issuer: letsencrypt
      kubernetes.io/ingress.class: nginx
      nginx.ingress.kubernetes.io/backend-protocol: HTTP
      nginx.ingress.kubernetes.io/server-snippet: |
        proxy_ssl_verify off;
    paths:
      - /
    pathType: Prefix
    hosts:
      - grafana.ayekan.ls.lsst.org
    tls:
      - secretName: tls-grafana-ingress
        hosts:
          - grafana.ayekan.ls.lsst.org
  sidecar:
    alerts:
      enabled: true
    dashboards:
      enabled: true
  datasources:
    datasource.yaml:
      apiVersion: 1
      datasources:
        - name: Prometheus
          type: prometheus
          uid: prometheus
          url: http://kube-prometheus-stack-prometheus.kube-prometheus-stack:9090/
          access: proxy
          jsonData:
            httpMethod: POST
            timeInterval: 30s
        - name: Mimir
          type: prometheus
          uid: mimir
          url: http://ayekan-mimir-gateway.mimir:80/prometheus
          access: proxy
          isDefault: true
          jsonData:
            httpMethod: POST
            timeInterval: 30s
        - name: Alertmanager
          type: alertmanager
          uid: alertmanager
          url: http://kube-prometheus-stack-alertmanager.kube-prometheus-stack:9093/
          access: proxy
          jsonData:
            handleGrafanaManagedAlerts: false
            implementation: prometheus

# these components are not present in the Rancher clusters
kubeScheduler:
  enabled: false
kubeProxy:
  enabled: false
kubeControllerManager:
  enabled: false
